html {
  box-sizing: border-box;
  scroll-behavior: smooth;

}

body {
  font-family: "Roboto", sans-serif;
  height: 100%;
  margin: 0;
}

a {
  text-decoration: none;
  color: #000;
}

.container {
  width: 80%;
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 15px;
}

.navbar {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 75px;
  background: #fff;
  box-shadow: 0 .5rem 1rem rgba(14, 37, 203, 0.3);

}

.navbar__wrap {
  display: flex;
  justify-content: space-between;
  height: 100%;
}

.hamb {
  display: none;
}

.popup {
  display: none;
}

.logo {
  display: flex;
  align-items: center;
  padding-top: 10px;
}

.menu {
  padding-top: 10px;
}

.menu>li>a {
  text-decoration: none;
}

.navbar__wrap .menu {
  display: flex;
}

.navbar__wrap .menu>li {
  display: flex;
  align-items: stretch;
}

.navbar__wrap .menu>li>a {
  display: flex;
  align-items: center;
  padding: 0 10px;
  color: #000;
  font-size: 16px;
  font-weight: bold;
}

.navbar__wrap .menu>li.bloo>a {
  color: #0e25cb;
}

.navbar__wrap .menu>li>a:hover {
  text-decoration: underline 2px;
  color: #0e25cb;
}

@media screen and (max-width: 460px) {
  .container {
    width: 90%;
  }

  .contact-box_form iframe {
    width: 320px;
    height: 356px;
  }
}

@media screen and (max-width: 1150px) {
  .navbar {
    height: 110px;
  }

  .navbar .navbar__wrap {
    display: flex;
    flex-direction: column;
  }

  .menu {
    margin: auto;
    padding-bottom: 10px;
  }

  .logo {
    margin: auto;
    padding-top: 10px;

  }
}


@media (max-width: 1000px) {
  .navbar {
    height: 75px;
  }

  .logo {
    margin: 0;
    position: absolute;
  }

  .navbar__wrap .menu {
    display: none;
  }

  .hamb {
    display: flex;
    justify-content: flex-end;
  }

  .hamb__field {
    padding: 25px 20px;
    cursor: pointer;

  }

  .bar {
    display: block;
    width: 30px;
    height: 3px;
    margin: 6px auto;
    background-color: #000;
    transition: 0.2s;
  }

  .popup {
    position: fixed;
    top: 75px;
    right: -100%;
    width: 100%;
    height: 100%;
    background-color: #fff;
    z-index: 100;
    display: flex;
    transition: 0.7s;
  }

  .popup.open {
    right: 0;
  }

  .popup .menu {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    padding: 50px 0;
    overflow: auto;
  }

  .popup .menu>li {
    width: 100%;
  }

  .popup .menu>li>a {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 20px 0;
    font-size: 20px;
    font-weight: bold;
    color: #3f3f3f;
  }


  .popup .menu>li>a:hover {
    background-color: rgba(122, 82, 179, 0.1);
  }

  .hamb__field.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamb__field.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .hamb__field.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  body.noscroll {
    overflow: hidden;
  }
}

/*Section*/

.top-info {
  width: 100%;
  padding-top: 160px;
  height: 450px;
  background: url(img/main.jpg) no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}

#item1 {
  padding-top: 75px;
  margin-top: -75px;
}

h1 {
  display: inline;
  color: #fff;

}

h2 {
  margin: 50px 0 50px;
  display: inline-block;
  font-weight: bold;
  box-shadow: 0px 5px 5px rgba(14, 37, 203, 0.3);
}

#item2 {
  padding-top: 75px;
  margin-top: -75px;
}

ul {
  padding-left: 0;
}

.top-info_text {
  margin-top: 50px;
}

.top-info_text li {
  line-height: 40px;
  color: #FFF;
  list-style: none;
  font-weight: bold;
  font-size: 20px;

}

form input {
  border: 1px solid #000;
  padding: 15px 25px;
  font-size: 17px;
  color: #0e25cb;
  font-weight: bold;
  background: #fff;
}

form {
  padding: 25px 0;
}

input {
  margin-right: 20px;
}

form input:hover {
  cursor: pointer;
  color: #fff;
  background: #0e25cb;
  border-color: #0e25cb;
  border: #FFF solid 2px;
  transition: 0.4s ease-in-out;
}

.top-info p {
  font-size: 18px;
  line-height: 30px;
  margin-top: 0;
}

#item4 {
  padding-top: 75px;
  margin-top: -75px;
}

.hlavni-info p {
  font-size: 18px;
  line-height: 30px;
  margin-top: 0;
}

.cooperation {
  width: 100vw;
  background: url(img/BCM.jpg) no-repeat;
  /* background-attachment: fixed; */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
}

.cooperation-text {
  margin: 0 0 50px;
  font-size: 20px;
  line-height: 30px
}

.square {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  align-items: center;
  padding-bottom: 50px;
}

.square-text {
  width: 270px;
  height: 240px;
  background: rgba(14, 37, 203, 0.3);
  color: #fff;
}

.square-text h3 {
  margin: 10px;
  margin-bottom: 15px;
}

.square-text p {
  padding: 0 10px 0 10px;
  font-size: 18px;
  line-height: 1.7rem;
}

#item5 {
  padding-top: 75px;
  margin-top: -75px;
}

.mapa {
  background: #0e25cb;
  height: 450px;
  display: flex;
  justify-content: flex-end;
}

.buttom input {
  background: #ff0000;
  color: #fff;
}

.buttom {
  align-self: flex-end;
}

#item3 {
  padding-top: 75px;
  margin-top: -50px;
}

.card {
  /*box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);*/
  display: flex;
  flex-wrap: wrap;
  /* justify-content: space-between; */
  line-height: 25px;
  font-size: 18px;
}

.card-text {
  width: 600px;

}

h4 {
  padding-bottom: 10px;
  font-size: 20px;
}

.card img {
  padding-right: 20px;
  height: 260px;
}

/* Partners */
.partners {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.partners img {
  width: 200px;
  margin: 20px;
}

.contact-box {
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
}

/* @media screen and (max-width: 1150px) {
  .TopInfo {
    padding-top: 143px;
    height: 480px;
  }

   .square {
    display: block;
    overflow: hidden;

  } 

  .text {
    width: 48%;
    float: left;
    box-sizing: border-box;
    margin-bottom: 18px;
    margin-right: 18px;

  }
} */

/* @media (max-width: 1000px) {
  .TopInfo {
    padding-top: 120px;
  }

  .hlavniInfo p {
    width: 90%;
  }

  .text {
    width: 100%;
  }

  .card {
    display: block;
    text-align: center;
  }

  .cardText {
    margin: auto;
  }
} */

#item6 {
  padding-top: 75px;
  margin-top: -75px;
}

/* @media (max-width: 630px) {
  .info {
    font-size: 18px;
  }

  .text {
    width: 100%;
  }
}

@media (max-width: 580px) {
  .TopInfo {
    height: 500px;
  }

  .form {
    padding-top: 0;
  }
} */



/*Footer*/

.Pata {
  width: 100%;
  height: 70px;
  background: #6f7172;
  color: #fff;
}

.copyl {
  padding-top: 20px;
}

.copyl a {
  text-decoration: none;
  color: #fff;
}

.copyl a:hover {
  border-bottom: 1px solid #fff;
}

.ikon {
  width: 28px;
  margin: 5px 10px -5px;
}

.ikon:hover {
  transform: scale(1.2);
}

iframe {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.maleinfo {
  text-align: center;
  font-size: 14px;
}

/*404*/
.error {
  height: 100%;
  width: 100%;
  background: #0e25cb;
  color: #fff;
  text-align: center;

}

.textErrorMain {
  margin-top: 250px;
  font-size: 52px;

}

.textError {
  text-decoration: none;
  color: #fff;
  font-size: 24px;
  margin-bottom: 50px;

}

.btn {
  text-decoration: none;
  border: 1px solid #000;
  padding: 15px 25px;
  font-size: 17px;
  color: #0e25cb;
  font-weight: bold;
  background: #fff;
  font-size: 24px;

}

.btn:hover {
  cursor: pointer;
  color: #fff;
  background: #0e25cb;
  border-color: #0e25cb;
  border: #FFF solid 2px;
  transition: 0.4s ease-in-out;
}
